# Ignore all data files
data/input/*
data/output/*
data/error/*
data/archive/*

# Keep folder structure
!data/input/.gitkeep
!data/output/.gitkeep
!data/error/.gitkeep
!data/archive/.gitkeep

# Ignore parquet files
*.parquet

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env